[Desktop Entry]
Name=System upgrade
Name[fr]=Mise à jour système
GenericName=System upgrade
GenericName[fr]=Mise à jour système
Exec=sudo -A upgrade -x > /var/log/last-upgrade.log
Terminal=false
Type=Application
Icon=upgrade-portage
Categories=System;GTK;
