[Desktop Entry]
Name=System upgrade
Name[fr]=Mise à jour système
GenericName=System upgrade
GenericName[fr]=Mise à jour système
Exec=sh -c "logDir=\"\\${HOME}/.upgrade-portage\"; mkdir -p \"\\$logDir\"; sudo -A upgrade -x > \"\\${logDir}/upgrade.log\" "
Terminal=false
Type=Application
Icon=upgrade-portage
Categories=System;GTK;
